@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

/* ==== overwrite bootstrap standard ==== */


/*==========================================================================
  General
  ========================================================================== */
body {
  font-family:'Open Sans', Arial, sans-serif;
  font-size:14px;
  font-weight:300;
  line-height:1.6em;
  color:black;
  overflow-x:hidden;
  background: -webkit-linear-gradient(90deg, #1F2C5B 10%, #5A3E7A 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #1F2C5B 10%, #5A3E7A 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #1F2C5B 10%, #5A3E7A 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #1F2C5B 10%, #5A3E7A 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #1F2C5B 10%, #5A3E7A 90%); /* W3C */
}

p {
  color:#656565;
  font-family:'Open Sans', Arial, sans-serif;
  font-weight:300;
}
h1,h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  line-height:1.1em;
  color:#fff;
  margin-bottom: 20px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  line-height:1.1em;
  color: white;
}

/* ==== overwrite bootstrap standard ==== */
.btn {
  padding: 14px 24px;
  margin-right: 5px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

.btn.outline {
  background: none;
  padding: 12px 34px;
}

.btn-login.outline {

  color: #fff;
  padding: 14.5px 46px;
  background-color: rgba(255,255,255,0.3);
}

.btn-register.outline {
  border: 2px solid #fff;
  color: rgba(255,255,255,0.6);
}

.btn-login.outline:hover, .btn-login.outline:focus, .btn-login.outline:active, .btn-login.outline.active, .open > .dropdown-toggle.btn-login {
  color: #101b40;
  background: rgba(16, 27, 64, 0.7);
  color: white;
}

.btn-register.outline:hover, .btn-register.outline:focus, .btn-register.outline:active, .btn-register.outline.active, .open > .dropdown-toggle.btn-register {
  color: #101b40;
  border-color: #101b40;
}


/*===========================
  --- Header & menu ----
=========================== */
.main-menu {
  /*background-color:#242424; */
  background-color: rgba(0,0,0,0.3);
}

/* ==== overwrite bootstrap standard ==== */
.text-center {
  margin-top: 15%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.text-thin {
  font-style: normal;
  font-weight: lighter;
}
.dropdown ul.nav li a {
  color:#fff;


}

.dropdown ul.nav li a:hover {
  color:#fff;
  background-color: rgba(255,255,255,0.2);

}

h1 a.navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  text-shadow: none;
  margin-bottom: 10px;
  margin-top:-10px;
}

span {
  color:#428bca;
}
.nav-pills  {
  float: right;
  font-weight:800;
  color:#fff;
}
ul.nav-pills  {
  margin-top:10px;
  color:fff;
  padding:5px;
}

.nav-pills > li > a {
  border-radius: 0px;
}
.nav-pills > li + li {
  margin-left: 7px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: rgba(255,255,255,0.2);
}
.nav-pills > li.active > a{
  background-color: rgba(255,255,255,0.2);
}

.nav-pills > li.active > a:focus {
  background-color: rgba(255,255,255,0.2);
}


.slider {
  margin-top:10px;
  margin-bottom:-30px;
}
/* --- section box --- */
.align-center {
  text-align: center;
  margin-top:10px;
}

#home-content {
  padding:50px 0;
  text-align:center;
  margin-bottom:40px;
}
.big-box {
  margin-bottom:40px;
}

.align-center:hover  i {
  color:#000;
  background-color: rgba(255,255,255,0.2);
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}

.box-bg {
  margin-bottom:80px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-top: 70px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


/* ===================================
Responsive media
==================================== */

.video-container,.map-container,.embed-container 		{ position:relative; margin:0 0 15px 0;	padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:none; }
.embed-container iframe,
.embed-container object,
.embed-container embed,
.video-container iframe,
.map-container iframe,
.map-container object,
.map-container embed,
.video-container object,
.video-container embed 					{ position:absolute; top:0; left:0; width:100%; height:100%; }
iframe {
  border:none;
}

img.img-polaroid {
  margin:0 0 20px 0;
}
.img-box {
  max-width:100%;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* ===================================
Form Styling
==================================== */

input[type=email] {
  background-color: rgba(255,255,255,0.3);
  border: none;
  height: 40px;
  width: 220px;
  border-radius: 3px;
  margin-left: 3.1%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  color: white;
  text-align: center;
}

.register input[type=email] {
  background: none;
  border: 2px solid #fff;
  color: rgba(255,255,255,0.6);
  height: 40px;
  width: 220px;
  border-radius: 3px;
  margin-left: 3.1%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  text-align: center;
}

.register input[type=text] {
  background: none;
  border: 2px solid #fff;
  color: rgba(255,255,255,0.6);
  height: 40px;
  width: 220px;
  border-radius: 3px;
  margin-left: 0.9%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  text-align: center;
}

input[type=password] {
  background-color: rgba(255,255,255,0.3);
  border: none;
  height: 40px;
  width: 220px;
  border-radius: 3px;
  margin-left: 0.6%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  color: white;
  text-align: center;
}

.register input[type=password] {
  background: none;
  border: 2px solid #fff;
  color: rgba(255,255,255,0.6);
  height: 40px;
  width: 220px;
  border-radius: 3px;
  margin-left: 0.5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  text-align: center;
}

input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  border-radius: 3px;
  height: 35px;
  width: 220px;
  margin-left: 6.5%;
  color: white;
  border: none;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}



.emailstyle_login {
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2%;
}

.passstyle_login {
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

input.error{
  background-color:rgba(255, 50, 0, 0.6);
}

.register input.error{
  background-color:rgba(255, 50, 0, 0.6);
}

.grades_and_weights {
  width: 70%;
  margin: auto;
  border: 0;
  border-spacing: 12px;
}

.entered_number {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.container-fluid {
  margin-top: 45%;
  width: 100%;
  padding:0;
  align-content: center;
  margin-right: 0px;
  margin-left: 0px;
  background-color: rgba(0,0,0,0.3);
  color: white;
}
